<div class="container">
  <!--
  <nav class="pagination" role="pagination">
    <ul>
      {% if paginator.previous_page %}
        {% if paginator.previous_page == 1 %}
        <p><a class="newer-posts" href="{{ site.baseurl }}/"><i class="fa fa-long-arrow-left" aria-hidden="true"></i></a></p>
        {% else %}
        <p><a class="newer-posts" href="{{ site.baseurl }}/page/{{ paginator.previous_page }}/"><i class="fa fa-long-arrow-left" aria-hidden="true"></i></a></p>
        {% endif %}
      {% endif %}

      <p><span class="page-number">Page {{paginator.page}} of {{paginator.total_pages}}</span></p>

      {% if paginator.next_page %}
      <p><a class="older-posts" href="{{ site.baseurl }}/page/{{ paginator.next_page }}/"><i class="fa fa-long-arrow-right" aria-hidden="true"></i></a></p>
      {% endif %}
    </ul>
  </nav>
  -->
<div>
{% if paginator.total_pages > 1 %}
<nav class="pagination">
  {% if paginator.previous_page %}
    <a class="newer-posts" href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&nbsp; Prev</a>
  {% else %}
    <span class="newer-posts">Prev &nbsp;</span>
  {% endif %}

  {% for page in (1..paginator.total_pages) %}
    {% if page == paginator.page %}
      <b style="font-size: 18px;">{{ page }}</b>
    {% elsif page == 1 %}
      <a class="newer-posts" href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">{{ page }}&nbsp;</a>
    {% else %}
      <a class="newer-posts" href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }}&nbsp;</a>
    {% endif %}
  {% endfor %}

  {% if paginator.next_page %}
    <a class="newer-posts" href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Next &nbsp;</a>
  {% else %}
    <span class="newer-posts">&nbsp;Next</span>
  {% endif %}
</nav>
{% endif %}
</div>
